<div class="container mt-3">
    <div class="row g-2">
        {{#each posts_byIdUser}}
        <div class="col-md-3" style="width: 25%">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <img class="img" src="{{image}}" alt="" style="height: 120px;">
                    <h5 class="card-title">{{title}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{author}}</h6>
                    <p class="card-text">{{content}}</p>
                    <a href="/posts/{{id_user}}" class="card-link">{{id_user}}</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>